.modal {
    position: relative;
    border-radius: 20px;
    background-color: $white;
    padding: 40px 20px;

    &__close {
        position: absolute;
        top: 14px;
        right: 14px;
    }

    &__close-icon {
        width: 22px;
        height: 22px;
        fill: $black;
    }

    & .products {
        &__item-space {
            padding: 26px 0;
        }

        &__item-image {
            width: 160px;
            height: 160px;
        }

        &__item-desc {
            margin-bottom: 20px;
        }

        &__item-text {
            height: 92px;
            color: rgba(1, 1, 1, 0.70);
            font-size: 14px;
            font-weight: 400;
            line-height: 1.29;
            overflow-y: auto;
        }

        &__item-button {
            display: flex;
            align-items: center;
            gap: 10px;
            width: inherit;
            height: inherit;
            color: $grey;
            font-size: 14px;
            line-height: 1.29;
            padding: 12px 24px;
        }
    }
}