.products {

    &__wrapper {
        padding-bottom: 80px;
    }

    &__filters {
        padding-bottom: 40px;
    }

    &__filters-title {
        color: rgba(1, 1, 1, 0.30);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        margin-bottom: 8px;
    }

    &__search {
        position: relative;
        margin-bottom: 12px;
    }

    &__search-input, &__filter-select  {
        width: 100%;
        height: 48px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        border-radius: 30px;
        border: 1px solid rgba(1, 1, 1, 0.30);
        outline: transparent;
        background-color: transparent;
        transition: border-color $transition;
        padding: 0 20px;

        &::placeholder {
            color: $black;
        }

        &:is(:hover, :focus) {
            border-color: $green;
        }
    }

    &__search-submit {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    &__search-icon {
        width: 20px;
        height: 20px;
        fill: $black;
    }

    &__filters-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__filters-item {
        &:last-child .products__filter-select {
            background-color: $white;
            border-color: transparent;

            &:is(:hover, :focus) {
                border-color: $green;
            }
        }
    }

    &__aside {
        padding-top: 80px;
    }
}