<ul class="products__list" id="products">
    <li class="products__item">
        <a class="products__link" href="#">
            <div class="products__item-space">
                <img
                    class="products__item-image"
                    src="./images/temp/avocado.png"
                    alt="Avocado"
                />
            </div>
            <div class="products__item-info">
                <h3 class="products__item-title">Avocado</h3>
                <ul class="products__item-desc">
                    <li class="products__item-element">
                        <span class="products__item-key">Category:</span>
                        <p class="products__item-value">Fresh Produce</p>
                    </li>
                    <li class="products__item-element">
                        <span class="products__item-key">Size:</span>
                        <p class="products__item-value">Each</p>
                    </li>
                    <li class="products__item-element">
                        <span class="products__item-key">Popularity:</span>
                        <p class="products__item-value">0</p>
                    </li>
                </ul>
            </div>
            <div class="products__item-main">
                <span class="products__item-price">$1.99</span>
                <button class="products__item-button">
                    <svg class="products__item-icon">
                        <use
                            class="products__item-cart"
                            href="#icon-cart"
                        ></use>
                        <use
                            class="products__item-check"
                            href="#icon-check"
                        ></use>
                    </svg>
                </button>
            </div>
        </a>
    </li>
    <li class="products__item">
        <a class="products__link" href="#">
            <div class="products__item-space">
                <img
                    class="products__item-image"
                    src="./images/temp/avocado.png"
                    alt="Avocado"
                />
            </div>
            <div class="products__item-info">
                <h3 class="products__item-title">Avocado</h3>
                <ul class="products__item-desc">
                    <li class="products__item-element">
                        <span class="products__item-key">Category:</span>
                        <p class="products__item-value">Fresh Produce</p>
                    </li>
                    <li class="products__item-element">
                        <span class="products__item-key">Size:</span>
                        <p class="products__item-value">Each</p>
                    </li>
                    <li class="products__item-element">
                        <span class="products__item-key">Popularity:</span>
                        <p class="products__item-value">0</p>
                    </li>
                </ul>
            </div>
            <div class="products__item-main">
                <span class="products__item-price">$1.99</span>
                <button class="products__item-button">
                    <svg class="products__item-icon">
                        <use
                            class="products__item-cart"
                            href="#icon-cart"
                        ></use>
                        <use
                            class="products__item-check"
                            href="#icon-check"
                        ></use>
                    </svg>
                </button>
            </div>
        </a>
    </li>
</ul>
