<section class="cart">
    <div class="container">
        <div class="cart__quantity">
            <span class="cart__quantity-space">
                <svg class="cart__quantity-icon">
                    <use href="#icon-cart"></use>
                </svg>
            </span>
            <p class="cart__quantity-counter">
                Cart (<span class="cart__quantity-counter counter">0</span>)
            </p>
        </div>
        <div class="cart__wrapper">
            <div class="cart__main">
                <button class="cart__delete">
                    Delete all
                    <svg class="cart__delete-icon">
                        <use href="#icon-close"></use>
                    </svg>
                </button>
                <ul class="products__list" id="cart"></ul>
            </div>
            <div class="cart__total">
                <h3 class="cart__total-title">Your Order</h3>
                <div class="cart__total-info">
                    <span class="cart__total-text">Total</span>
                    <div class="cart__total-price">
                        <span class="cart__total-level">Sum:</span>
                        $12,94
                    </div>
                </div>
                <form class="cart__form">
                    <div class="cart__form-wrapper">
                        <label class="cart__form-label" for="cart-form"
                            >Mail:</label
                        >
                        <input
                            class="cart__form-input"
                            id="cart-form"
                            type="email"
                            name="email"
                            placeholder="Enter your email"
                        />
                    </div>
                    <button class="cart__form-button" type="submit">
                        Checkout
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
