<div class="discount">
    <h2 class="title">Discount products</h2>
    <ul class="products__list" id="products">
        <li class="products__item">
            <a class="products__link" href="#">
                <div class="products__item-space">
                    <img
                        class="products__item-image"
                        src="./images/temp/avocado.png"
                        alt="Avocado"
                    />
                </div>
                <div class="products__item-main">
                    <h3 class="products__item-title">Avocado</h3>
                    <div class="products__item-wrapper">
                        <span class="products__item-price">$1.99</span>
                        <button class="products__item-button">
                            <svg class="products__item-icon">
                                <use
                                    class="products__item-cart"
                                    href="#icon-cart"
                                ></use>
                                <use
                                    class="products__item-check"
                                    href="#icon-check"
                                ></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <svg class="products__item-discount">
                    <use href="#icon-discount"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
