<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__head">
                <a class="logo" href="./">
                    <span class="logo__space">
                        <svg class="logo__icon">
                            <use href="#icon-logo"></use>
                        </svg>
                    </span>
                    Food Boutique
                </a>
                <ul class="footer__social">
                    <li class="footer__social-item">
                        <a
                            class="footer__social-link"
                            href="https://www.facebook.com/goITclub/"
                            target="_blank"
                        >
                            <svg class="footer__social-icon">
                                <use href="#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a
                            class="footer__social-link"
                            href="https://www.instagram.com/goitclub/"
                            target="_blank"
                        >
                            <svg class="footer__social-icon">
                                <use href="#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a
                            class="footer__social-link"
                            href="https://www.youtube.com/c/GoIT"
                            target="_blank"
                        >
                            <svg class="footer__social-icon">
                                <use href="#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__main">
                <div class="footer__info">
                    <h2 class="footer__title">
                        Discover the Variety of Flavors and Quality
                    </h2>
                    <p class="footer__desc">
                        An online store where you will find fresh, natural and
                        delicious products for a healthy life and unforgettable
                        gastronomic adventures.
                    </p>
                </div>
                <form class="footer__form">
                    <p class="footer__form-text">
                        Subscribe and learn about new products!
                    </p>
                    <input
                        class="footer__form-input"
                        type="email"
                        name="subscription"
                        placeholder="Email"
                    />
                    <button class="footer__form-button" type="submit">
                        Send
                    </button>
                </form>
            </div>
        </div>
        <div class="footer__foot">
            <p class="footer__foot-text">Food Boutique. All rights reserved.</p>
            <ul class="footer__foot-list">
                <li class="footer__foot-item">Privacy Policy</li>
                <li class="footer__foot-item">Terms of Service</li>
            </ul>
        </div>
    </div>
</footer>


