<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a class="logo" href="./">
                <span class="logo__space">
                    <svg class="logo__icon">
                        <use href="#icon-logo"></use>
                    </svg>
                </span>
                Food Boutique
            </a>
            <nav>
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#"> Home </a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">
                            <span class="header__menu-space">
                                <svg class="header__menu-icon">
                                    <use href="#icon-cart"></use>
                                </svg>
                            </span>
                            <p class="header__menu-cart">
                                Cart (<span class="header__menu-counter">0</span
                                >)
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
